# Dependencies
node_modules/

# Builds
dist/

# Credentials, Cookies & Tokens
*credentials.json
*-config.json
*-token.json
*-cookies.json
fc2-cookies.json
fc2_captured.json
fc2_title_captured.json
kick-token.json
twitch-token.json

# Logs & Temporary files
*.log
.DS_Store
Thumbs.db
